@CHARSET "ISO-8859-1";

.alert alert-warning {
   width:40%;    
}

.alert alert-danger {
   width:40%;    
}

.alert alert-info {
   width:40%;    
}

.alert alert-success {
   width:40%;    
}