<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>18-02.1-SistemaAlumnado</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>controlador.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
    <url-pattern>/cerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaestroList</display-name>
    <servlet-name>MaestroList</servlet-name>
    <servlet-class>controlador.MaestroList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaestroList</servlet-name>
    <url-pattern>/MaestroList</url-pattern>
    <url-pattern>/maestroList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaestroEdit</display-name>
    <servlet-name>MaestroEdit</servlet-name>
    <servlet-class>controlador.MaestroEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaestroEdit</servlet-name>
    <url-pattern>/MaestroEdit</url-pattern>
    <url-pattern>/maestroEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoList</display-name>
    <servlet-name>AlumnoList</servlet-name>
    <servlet-class>controlador.AlumnoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoList</servlet-name>
    <url-pattern>/AlumnoList</url-pattern>
    <url-pattern>/alumnoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoEdit</display-name>
    <servlet-name>AlumnoEdit</servlet-name>
    <servlet-class>controlador.AlumnoEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoEdit</servlet-name>
    <url-pattern>/AlumnoEdit</url-pattern>
    <url-pattern>/alumnoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertificadoList</display-name>
    <servlet-name>CertificadoList</servlet-name>
    <servlet-class>controlador.CertificadoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificadoList</servlet-name>
    <url-pattern>/CertificadoList</url-pattern>
    <url-pattern>/certificadoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertificadoEdit</display-name>
    <servlet-name>CertificadoEdit</servlet-name>
    <servlet-class>controlador.CertificadoEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificadoEdit</servlet-name>
    <url-pattern>/CertificadoEdit</url-pattern>
    <url-pattern>/certificadoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MateriaList</display-name>
    <servlet-name>MateriaList</servlet-name>
    <servlet-class>controlador.MateriaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MateriaList</servlet-name>
    <url-pattern>/MateriaList</url-pattern>
    <url-pattern>/materiaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MateriaEdit</display-name>
    <servlet-name>MateriaEdit</servlet-name>
    <servlet-class>controlador.MateriaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MateriaEdit</servlet-name>
    <url-pattern>/MateriaEdit</url-pattern>
    <url-pattern>/materiaEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotaEdit</display-name>
    <servlet-name>NotaEdit</servlet-name>
    <servlet-class>controlador.NotaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotaEdit</servlet-name>
    <url-pattern>/NotaEdit</url-pattern>
    <url-pattern>/notaEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroUser</display-name>
    <servlet-name>RegistroUser</servlet-name>
    <servlet-class>controlador.RegistroUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroUser</servlet-name>
    <url-pattern>/RegistroUser</url-pattern>
    <url-pattern>/registroUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SancionEdit</display-name>
    <servlet-name>SancionEdit</servlet-name>
    <servlet-class>controlador.SancionEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SancionEdit</servlet-name>
    <url-pattern>/SancionEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SancionList</display-name>
    <servlet-name>SancionList</servlet-name>
    <servlet-class>controlador.SancionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SancionList</servlet-name>
    <url-pattern>/SancionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitacionList</display-name>
    <servlet-name>CitacionList</servlet-name>
    <servlet-class>controlador.CitacionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitacionList</servlet-name>
    <url-pattern>/CitacionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitacionEdit</display-name>
    <servlet-name>CitacionEdit</servlet-name>
    <servlet-class>controlador.CitacionEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitacionEdit</servlet-name>
    <url-pattern>/CitacionEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntrevistaList</display-name>
    <servlet-name>EntrevistaList</servlet-name>
    <servlet-class>controlador.EntrevistaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntrevistaList</servlet-name>
    <url-pattern>/EntrevistaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntrevistaEdit</display-name>
    <servlet-name>EntrevistaEdit</servlet-name>
    <servlet-class>controlador.EntrevistaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntrevistaEdit</servlet-name>
    <url-pattern>/EntrevistaEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradoList</display-name>
    <servlet-name>GradoList</servlet-name>
    <servlet-class>controlador.GradoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradoList</servlet-name>
    <url-pattern>/GradoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradoEdit</display-name>
    <servlet-name>GradoEdit</servlet-name>
    <servlet-class>controlador.GradoEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradoEdit</servlet-name>
    <url-pattern>/GradoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MateriaGradoList</display-name>
    <servlet-name>MateriaGradoList</servlet-name>
    <servlet-class>controlador.MateriaGradoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MateriaGradoList</servlet-name>
    <url-pattern>/MateriaGradoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUser</display-name>
    <servlet-name>AdminUser</servlet-name>
    <servlet-class>controlador.AdminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUser</servlet-name>
    <url-pattern>/AdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioList</display-name>
    <servlet-name>UsuarioList</servlet-name>
    <servlet-class>controlador.UsuarioList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioList</servlet-name>
    <url-pattern>/UsuarioList</url-pattern>
    <url-pattern>/usuarioList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoInactivo</display-name>
    <servlet-name>AlumnoInactivo</servlet-name>
    <servlet-class>controlador.AlumnoInactivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoInactivo</servlet-name>
    <url-pattern>/AlumnoInactivo</url-pattern>
    <url-pattern>/alumnoInactivo</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>PrecioEdit</display-name>
    <servlet-name>PrecioEdit</servlet-name>
    <servlet-class>controlador.PrecioEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrecioEdit</servlet-name>
    <url-pattern>/PrecioEdit</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>CuotaEdit</display-name>
    <servlet-name>CuotaEdit</servlet-name>
    <servlet-class>controlador.CuotaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuotaEdit</servlet-name>
    <url-pattern>/CuotaEdit</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>CuotaList</display-name>
    <servlet-name>CuotaList</servlet-name>
    <servlet-class>controlador.CuotaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuotaList</servlet-name>
    <url-pattern>/CuotaList</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>TardanzaEdit</display-name>
    <servlet-name>TardanzaEdit</servlet-name>
    <servlet-class>controlador.TardanzaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TardanzaEdit</servlet-name>
    <url-pattern>/TardanzaEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TardanzaList</display-name>
    <servlet-name>TardanzaList</servlet-name>
    <servlet-class>controlador.TardanzaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TardanzaList</servlet-name>
    <url-pattern>/TardanzaList</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>AsistenciaEdit</display-name>
    <servlet-name>AsistenciaEdit</servlet-name>
    <servlet-class>controlador.AsistenciaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsistenciaEdit</servlet-name>
    <url-pattern>/AsistenciaEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsistenciaList</display-name>
    <servlet-name>AsistenciaList</servlet-name>
    <servlet-class>controlador.AsistenciaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsistenciaList</servlet-name>
    <url-pattern>/AsistenciaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsistenciaListEdit</display-name>
    <servlet-name>AsistenciaListEdit</servlet-name>
    <servlet-class>controlador.AsistenciaListEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsistenciaListEdit</servlet-name>
    <url-pattern>/AsistenciaListEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrecioList</display-name>
    <servlet-name>PrecioList</servlet-name>
    <servlet-class>controlador.PrecioList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrecioList</servlet-name>
    <url-pattern>/PrecioList</url-pattern>
  </servlet-mapping>
</web-app>